@import 'Colors';

.tagset {
  color: transparentize($color3, .1);

  > i {
    font-size: .7em;
  }

  > div {
    display: inline-block;
    background-color: transparentize($color3, .8);
    border-radius: 3px;
    margin: 5px 3px 0 0;
    padding: 4px;
    font-size: .8em;
    direction: ltr;
  }
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 1.1em;
  margin-top: 10px;
  cursor: pointer;
}
