@import 'Colors';

.form-button {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 1.1em;
  margin-top: 10px;
  cursor: pointer;
}

.tagset {
  color: transparentize($color3, .1);

  > i {
    font-size: .7em;
  }

  > div {
    display: inline-block;
    background-color: transparentize($color3, .8);
    border-radius: 3px;
    margin: 5px 3px 0 0;
    padding: 4px;
    font-size: .8em;
    direction: ltr;
  }
}

@mixin group() {
  margin-top: 10px;
}

@mixin label() {
  font-size: 1.2em;
  color: $color2;
}

.text-group {
  @include group();

  > label {
    display: block;
    @include label();
  }

  > input, > textarea, > article {
    width: 100%;
    font-size: 1em;
    font-family: sans-serif;
    border: 1px solid lighten($color3, 40%);
    padding: 5px;
    background: white;
    box-sizing: border-box;
  }

  > input[type=text] {
    height: 35px;
  }

  > textarea {
    height: 70px;
  }

  > input[type=radio] {
    width: unset;
    cursor: pointer;
  }

  > input[type=radio] + label {
    display: inline;
    font-size: 1em;
    cursor: pointer;
  }

  > input[type=text]:focus, textarea:focus {
    outline: 1px solid $color3;
  }
}

.check-group {
  * {
    cursor: pointer;
  }

  @include group();

  > label {
    @include label();
  }
}

/* Code Boxes */

@mixin codeBox() {
  font-family: Consolas;
  font-size: .82em;
  padding: 10px 10px 10px 20px;
  direction: ltr;
  border-left: 4px solid $color4;
}

@mixin cmd() {
  @include codeBox();
  background: $color1;
  color: white;
}

@mixin code() {
  @include codeBox();
  background: lighten($color3, 40%);
  color: $color1;
}
