@model Developer
@{
   ViewData["Title"] = "Write about yourself";
}
@section Styles{
   <link rel="stylesheet" href="~/dev.css" />
}
@section Scripts{
   <script src="~/developer.js"></script>
}
<div id="root"></div>