@import '../Shared/Colors';

.admin-wrapper {
  h1 {
    color: $color3;
    font-size: 2em;
    border-bottom: 2px solid $color1;
  }

  table {
    width: 100%;
    font-family: IRANSans;
    font-size: .9em;
    color: $color2;
  }

  thead th {
    text-align: left;
    font-size: 1.1em;
    color: $color1;

    &:nth-of-type(1) {
      width: 10%;
    }

    &:nth-of-type(2) {
      width: 3%;
    }

    &:nth-of-type(3) {
      width: 70%;
    }
  }

  .cell-btn {
    font-size: .7em;
    margin: 0;
    display: block;
    float: right;
    margin-left: 3px;
    background: gray;
    color: white;
    padding: 5px 15px;
  }

  tbody tr:hover {
    background: lightblue;

    .cell-btn {
      background: black;
    }
  }

  td {
    padding: 0;

    i {
      font-size: .9em;
    }
  }

  .fa-times {
    color: #c72c41;
  }

  .fa-check {
    color: #58b368;
  }
}
