@model IEnumerable<DraftRow>
@{
   ViewData["Title"] = "Admin";
}
@section Scripts{
   <script src="~/~admin.min.js" asp-append-version="true"></script>
}
<section class="admin-wrapper">
   <h1>Posts</h1>
   <table border="0">
      <thead>
         <tr>
            <th>Id</th>
            <th></th> @*Show*@
            <th>Title</th>
         </tr>
      </thead>
      <tbody>
         @foreach (var post in Model)
         {
            <tr blog-testid="post-row">
               <td>@post.Id</td>
               @if (post.Published)
               {
                  <td><i blog-testid="published-value" class="fas fa-check"></i></td>
               }
               else
               {
                  <td><i blog-testid="published-value" class="fas fa-times"></i></td>
               }
               <td blog-testid="title-value">@post.Title</td>
               <td>
                  <form asp-action="DeletePost" asp-route-id="@post.Id">
                     <a blog-testid="edit-button" asp-action="ViewPost" asp-route-id="@post.Id" class="cell-btn">Edit</a>
                     <button blog-testid="delete-button" type="submit" class="delete-button form-button cell-btn">Delete</button>
                  </form>
               </td>
            </tr>
         }
      </tbody>
   </table>
</section>
