@import '../Shared/Colors';
@import '../Shared/Shared';

.post-form {
   #PublishDate, #Title {
      width: 30%;
   }

   #language label {
      display: inline;
   }

   #editor {
      height: 500px;
      min-height: 200px;
      max-height: 500px;
      cursor: text;
      font-family: "Roboto Condensed";

      & * {
         outline: none;
      }

      h3 {
         font-size: 1.4em;
      }

      h4 {
         font-size: 1.2em;
      }

      a {
         color: $color4;
      }

      img {
         width: 100%;
      }

      pre.code {
         @include code();
      }

      pre.terminal {
         @include cmd();
      }
   }
}

/* Language Change */

@mixin language($dir, $font) {
   input[type=text]:not(#Tags):not(#EnglishUrl), textarea, #editor {
      direction: $dir;
      font-family: $font;
   }
}

#save-post.english {
   @include language(ltr, "Roboto Condensed");
}

#save-post.farsi {
   @include language(rtl, "IRANSans");
}
