@{ 
    ViewData["Title"] = "About Me";
    var dob = new DateTime(1990, 1, 4);
    var myAge = Convert.ToInt32(DateTime.Now.Subtract(dob).Days / 365);
}
    <article class="article">
        <header>
            <h2>hire me</h2>
        </header>
        <p>
            Hi there, I'm Ali and I would be glad to discuss about your job offer! Feel free to contact (<a href="mailto:ali.doostkany@gmail.com">email</a> or <a href="https://www.linkedin.com/in/ali-doustkani/">LinkedIn</a>).
        </p>
        <p>
            I'm a software developer with 7+ years of experience. I have spent most of my time with Microsoft technologies but I also like to work with JavaScript stack, especially because of its functional capabilities that challenge my OOP background to face problems differently.
        </p>
        <p>
            I love working with pro teams and people and I have a passion to write clean code.
        </p>
    </article>
<article class="article">
    <header>
        <h2>work experience</h2>
    </header>
    <ul>
        <li>
            <section class="item">
                <header>
                    <h4 class="item-title">.NET Architect, Parmis</h4>
                    <h4 class="date">May/2014 - December/2017</h4>
                </header>
                <p>
                    Parmis is a fintech company that provides modern sales and financial services for it's customers. It serves various industries with a whole range of products including accounting, CRM, manufacturing, inventory, and etc.
                </p>
                <ul>
                    <li>
                        Built back-end services using ASP.NET Web API, demonstrating RESTful architecture.
                    </li>
                    <li>
                        Embraced unit and integration testing policies with MSTest Suite, TFS test automation and nightly builds to maintain a continuously integrated system, which led to much less bug reports.
                    </li>
                    <li>
                        Optimised domain process of year-end closing 60% faster by using T-SQL scripts, Repository design pattern, and asynchrounous programming.
                    </li>
                    <li>
                        Implemented a shared kernel of accounting domain using .NET Portable Class Library in a TDD manner so it could be used across multiple platforms.
                    </li>
                    <li>
                        Rearchitected legacy procedural-based modules (Transaction Scripts) to testable, object-oriented domain models with DDD approach which decreased technical dept tremendously.
                    </li>
                    <li>
                        Refactored database tables using Visual Studio SQL Database Project to maintain consistency in deployment.
                    </li>
                    <li>
                        Developed desktop invoice processing application using C#, MVP, IoC Container, SQL Server, and Entity Framework.
                    </li>
                    <li>
                        Directed the order processing user-interface for the mobile app using XAML, and MVVM.
                    </li>
                </ul>
            </section>
        </li>
        <li>
            <section class="item">
                <header>
                    <h4 class="item-title">.NET Desktop Developer, Freelancer</h4>
                    <h4 class="date">March/2012 - March/2013</h4>
                </header>
                <ul>
                    <li>
                        Implemented and maintained user-friendly apps with C#, NHibernate, ADO.NET, WPF, StructureMap and SQL databases.
                    </li>
                    <li>
                        Completed a customized build process with MSBuild and TFS Release pipline.
                    </li>
                </ul>
            </section>
        </li>
    </ul>
</article>
<article class="article">
    <header>
        <h2>side projects</h2>
    </header>
    <ul>
        <li>
            <section class="item">
                <h3>Richtext</h3>
                <p>
                    An open-source, configurable richtext developed with vanilla js, jest, and cypress. A <a href="https://richtext.alidoustkani.com">demo</a> is available and it's shared on <a href="https://github.com/Ali-Doustkani/richtext">github</a>.
                </p>
            </section>
        </li>
        <li>
            <section class="item">
                <h4>CactusGuru</h4>
                <p>
                    A simple app for managing a collection of cacti! It's available on <a href="https://github.com/Ali-Doustkani/CactusGuru">github</a>.
                </p>
            </section>
        </li>
    </ul>
</article>
<article class="article">
    <header>
        <h2>education</h2>
    </header>
    <ul>
        <li>
            <section class="item">
                <header>
                    <h3 class="item-title">University of Science and Culture</h3>
                    <h4 class="date">2010 - 2013</h4>
                </header>
                <p>
                    B.Sc. in Computer Software Engineering
                </p>
            </section>
        </li>
        <li>
            <section class="item">
                <header>
                    <h3 class="item-title">Shamsipour Technical College</h3>
                    <h4 class="date">2008 - 2010</h4>
                </header>
                <p>
                    A.Sc in Computer Software Engineering
                </p>
            </section>
        </li>
    </ul>
</article>
<article class="article">
    <header>
        <h2>technical skills</h2>
    </header>
    <p>
        (6+ years): C#, OOP, SOLID, Design Patterns, SQL
    </p>
    <p>
        (4+ years): SQL Server, Entity Framework, TFS, IoC Containers
    </p>
    <p>
        (2+ years): TDD, NUnit, Moq, MVVM, WPF, Javascript, HTML, CSS, REST
    </p>
    <p>
        (1+ years): ASP.NET Core, Webpack, SASS, Git, DDD, MSBuild, Jest, Cypress
    </p>
    <p>
        (Studying): React, Node.js
    </p>
</article>
<article class="article">
    <header></header>
        <a href="~/files/AliDoustkani.pdf">
            <i class="fas fa-file-pdf"></i>
            DOWNLOAD PDF
        </a>
</article>