@{ 
    var dob = new DateTime(1990, 1, 4);
    var myAge = Convert.ToInt32(DateTime.Now.Subtract(dob).Days / 365);
}
<article class="article">
    <header>
        <h2>summary</h2>
    </header>
    <p>
        I'm Ali, a @myAge-year-old programmer! I started to code when I was 17 and since then writing code and creating programs is one of my best enjoyments.
    </p>
    <p>
        I have spent most of my time with Microsoft technologies but recently I found JavaScript and it's stack very interesting. I'm not that good in JS ecosystem but I really enjoy to code with it, especially because of its functional capability that challenges my OOP background to face problems differently.
    </p>
    <p>
        I like working on enterprise projects which DDD practices and patterns are employed and I have a passion to write clean code, because I think "Good programmers write code that humans can understand." (Martin Fowler)
    </p>
    <p>
        I'm free at the time, so feel free to contact (<a href="mailto:me@alidoustkani.com">email</a> or <a href="https://www.linkedin.com/in/ali-doustkani/">LinkedIn</a>) if you have a job for me. I really like to join agile teams that work with the latest technologies and are eager to learn new things!
    </p>
</article>
<article class="article">
    <header>
        <h2>skills</h2>
    </header>
    <p>
        OOP, Design Patterns, DDD, Agile, TDD
    </p>
    <p>
        C#, WPF, MVVM
    </p>
    <p>
        ASP.NET Core, MVC
    </p>
    <p>
        EF, SQL
    </p>
    <p>
        HTML, CSS/SASS
    </p>
    <p>
        JavaScript, React, JQuery, NPM, Gulp
    </p>
    <p>
        TFS, Git
    </p>
</article>
<article class="article">
    <header>
        <h2>work experience</h2>
    </header>
    <ul>
        <li>
            <section class="item">
                <header>
                    <h4 class="item-title">ParmisIT</h4>
                    <h4 class="date">aug 2014 - dec 2017</h4>
                </header>
                <p>
                    Parmis is a small Iranian company that makes enterprise software. The product that we were working on, which was called ParmisStar, had some major modules including: Accounting, Product Management, Inventory Management, Sales, and Customer Management. These modules were actually a single piece of software which I will describe more in the following.
                </p>
                <p>
                    There were also some new products that needed to integrate with these systems. For example, a B2B ordering mobile application which was developed by a separate team. There were lots of complexities that we needed to deal with in order to make a robust integrated software. My responsibilities as a senior software developer were:
                </p>
                <ul>
                    <li>
                        <h4>to help the team to improve the architecture of the system</h4>
                        <p>
                            ParmisStar was a monolithic win-form application which was developed with a data-driven mind in a single 400-table database. Some features of the application were so critical with complex business logic that used mostly SQL queries and long procedures (Transaction Scripts) to solve the problems. I helped the team to apply a DDD oriented approach to re-implement these important legacy features and also implementing new features. That made our domain model testable and we were able to add some functional tests that ran every night and made us sure about important domain transactions in the software.
                        </p>
                    </li>
                    <li>
                        <h4>to refactor old code-bases</h4>
                        <p>
                            Rate of technical debt in some portions of the software was very high and that made us very slow. We needed testable code to change the system as fast as we could. Majority of what we did to overcome these issues were: using MVP pattern for a testable presentation design, separating forms from domain models using facades and DTOs, using IOC patterns, and etc.
                        </p>
                    </li>
                    <li>
                        <h4>to help the team to optimize the process</h4>
                        <p>
                            We started to apply XP. We had a meeting every week to discuss agile and extreme programming values and practices and the difficulties to apply them. The most important things that we made after almost a year was continuous integration, poker planning, four-weeks iterations, nightly builds, and unit testing. We used TFS to configure our CI and nightly builds.
                        </p>
                    </li>
                </ul>
            </section>
        </li>
        <li>
            <section class="item">
                <header>
                    <h4 class="item-title">Freelancing</h4>
                    <h4 class="date">feb 2012 - mar 2013</h4>
                </header>
                <p>
                    I've done some projects during the college. Although they were not big but I've learned new technologies with these projects, like NHibernate or WPF. But I think the most important experience I had in this period was the direct relationship with the customers. These relationships made me understand some important facts about my job.
                </p>
            </section>
        </li>
        <li>
            <section class="item">
                <header>
                    <h4 class="item-title">ComputerScienceCo.</h4>
                    <h4 class="date">mar 2011 - aug 2012</h4>
                </header>
                <p>
                    I started to work in this company as an intern and then as a junior developer. My tasks were mostly simple data entries with ADO.NET and SQL.
                </p>
            </section>
        </li>
    </ul>
</article>
<article class="article">
    <header>
        <h2>projects</h2>
    </header>
    <ul>
        <li>
            <section class="item">
                <h3>CactusGuru</h3>
                <p>
                    The main reason to make this application was my own cactus collection. I also used that project as a POC of some concepts in my mind. You can read more about it on <a href="https://github.com/Ali-Doustkani/CactusGuru">GitHub</a>.
                </p>
            </section>
        </li>
        <li>
            <section class="item">
                <h4>CodePrac</h4>
                <p>
                    The idea of this project is something which had stayed in my mind since I read Uncle Bob's Clean Coder book! In this very valuable book he proposed some kind of practice method, that a programmer must do regularly in order to keep his/her skills sharp. This is a very simple app that I created to keep track of my daily practices. You can check it out on <a href="https://github.com/Ali-Doustkani/CodePrac">GitHub</a>.
                </p>
            </section>
        </li>
    </ul>
</article>
<article class="article">
    <header>
        <h2>education</h2>
    </header>
    <ul>
        <li>
            <section class="item">
                <header>
                    <h3 class="item-title">University of Science and Culture</h3>
                    <h4 class="date">2010 - 2013</h4>
                </header>
                <p>
                    Bachelor's degree of Computer Software Engineering
                </p>
            </section>
        </li>
        <li>
            <section class="item">
                <header>
                    <h3 class="item-title">Shamsipour Technical College</h3>
                    <h4 class="date">2008 - 2010</h4>
                </header>
                <p>
                    Associate's degree of Computer Software Technology/Technician
                </p>
            </section>
        </li>
    </ul>
</article>
<article class="article">
    <header></header>
        <a href="~/files/AliDoustkani.pdf">
            <i class="fas fa-file-pdf"></i>
            DOWNLOAD PDF
        </a>
</article>