@{
    ViewData["Title"] = "Error";
    ViewData["HasHeader"] = false;
}

<div class="error-wrapper">
    <div class="error-text">
        <i class="fas fa-exclamation-triangle"></i>
        <h1>SORRY, <span>SOMETHING's WRONG!</span></h1>
        <h2>I will fix it as soon as possible.</h2>
    </div>
</div>
