@model Post

<article class="post">
    <header>
        <h1>@Model.Title</h1>
        <h3>@Model.PublishDate.ToString("D")</h3>
        <div class="tagset">
            <i class="fas fa-hashtag"></i>
            @foreach(var tag in Model.TagCollection)
            {
                <div>@tag</div>
            }
        </div>
    </header>
    @Html.Raw(Model.Content)
</article>
