@import '../Shared/Colors';
@import '../Shared/Shared';

.post {
  margin-top: 50px;

  header {
    padding-bottom: 10px;
    border-bottom: 3px solid $color1;
    margin-bottom: 15px;
  }

  h1 {
    display: inline;
    color: $color3;
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 5px;
    color: $color2;
  }

  h3 {
    font-size: 1.2em;
    color: $color2;
  }

  h3:not(:first-of-type) {
    margin-top: 25px;
  }

  h4 {
    color: $color2;
    margin-top: 20px;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: $color1;
  }

  a {
    color: $color4;
  }

  ul, ol {
    margin: 10px 0;
  }

  figure {
    text-align: center;
    margin: 0;

    img {
      max-width: 100%;
    }

    figcaption {
      text-align: center;
      color: $color3;
      font-size: .8em;
    }
  }
}

.post.farsi {
  font-family: IRANSans;
  direction: rtl;

  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.3em;
  }

  p {
    font-size: 1em;
  }
}

/* Highlights */

@mixin highlight($color) {
  margin-bottom: 10px;
  padding: 5px;
  background: transparentize($color, .85);
  color: $color1;
  font-size: .82em;
  border-radius: 5px;
}

.note {
  @include highlight(#00faac);
}

.warning {
  @include highlight(#ff3796);
}

.box-wrapper {
  margin: 10px 0;
}

/* Code Boxes */

.cmd pre {
  @include cmd();
}

.code pre {
  @include code();
}

pre {
  line-height: 1.3em;
}

/* DISQUS */

#disqus_thread {
  margin-top: 100px;
}
