.toolbarButton {
   background: none;
   width: 35px;
   height: 35px;
   border-radius: 50px;
   border: none;
   font-family: 'Roboto Condensed';
   cursor: pointer;
   transition: background-color 200ms;
   color: $color1;

   &:hover {
      background: transparentize($color: $color1, $amount: 0.8);
   }
}
