/* Keywords */

.tagset {
    color: #333;

    > i {
        font-size: .7em;
    }

    > div {
        display: inline-block;
        background-color: #ddd;
        border-radius: 3px;
        margin: 5px 3px 0 0;
        padding: 2px 4px;
        font-size: .8em;
    }
}

/* Info Boxes */

@mixin box($color) {
    margin-bottom: 10px;
    padding: 10px;
    background-color: $boxBackground;
    border-left: 2px solid $color;
}

.note {
    @include box(#99c24d);
}

.warning {
    @include box(#da3e52);
}

/* Code Boxes */

@mixin codeBox($bg, $color) {
    font-family: Consolas;
    font-size: .9em;
    background-color: $bg;
    color: $color;
    padding: 10px;
    direction: ltr;
}

.cmd pre {
    @include codeBox(#1c2541, #fcf6f2);
}

.code pre {
    @include codeBox(#28292a, #e1e1e1);
}
