@import 'Colors';

/*To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
This set of fonts are used in this project under the license: N4VA6	*/

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('./../wwwroot/fonts/IRANSansWeb_Black.woff2');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('./../wwwroot/fonts/IRANSansWeb_Bold.woff2');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('./../wwwroot/fonts/IRANSansWeb_Medium.woff2');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('./../wwwroot/fonts/IRANSansWeb_Light.woff2');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('./../wwwroot/fonts/IRANSansWeb_UltraLight.woff2');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./../wwwroot/fonts/IRANSansWeb.woff2');
}

.fa-git-source {
  position: relative;
  height: 40px;
  margin-bottom: 10px;

  i {
    position: absolute;
    background-color: $boxBackground;
    border-radius: 5px;
    font-size: 1.8em;
    text-align: center;
    line-height: 40px;
    width: 40px;
  }

  a {
    position: absolute;
    font-size: .95em;
    margin-right: 45px;
    line-height: 40px;
    background-color: $boxBackground;
    color: gray;
    border-radius: 5px;
    padding: 0 10px;
  }

  &:hover * {
    color: #63a46c;
  }
}

.en {
  direction: ltr;
}
