header {
   text-align: center;

   ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20px;
      margin-left: 20px;
      padding: 0 15px;
      ul {
         margin-right: 20px;
      }
   }

   .end {
      margin-left: auto;
      margin-right: 10px;
   }

   img {
      width: 150px;
      height: 150px;
      padding: 5px;
      border: 3px solid $color4;
      border-radius: 50%;
   }

   .menu-bar {
      padding: 0;

      &:first-of-type {
         a {
            font-size: 1.15em;
         }
      }

      a {
         font-size: 1.8em;
         color: $color2;
      }

      li {
         display: inline;
      }
   }

   .logout-form {
      display: inline;

      button {
         padding: 3px;
         background-color: $color2;
         font-size: 0.9em;
      }
   }

   .separator {
      background-color: #bbb;
      width: 1px;
      height: 1em;
      display: inline-block;
      margin: 0 10px;
   }

   .logout {
      background: $color2;
      display: inline-block;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      margin-left: auto;
      transition: 0.1s;
      i {
         color: white;
      }
      &:hover {
         background: $toast-error;
      }
   }
}
