.form-button {
   background-color: black;
   color: white;
   border: none;
   padding: 5px 15px;
   font-size: 1.1em;
   margin-top: 10px;
   cursor: pointer;
}

.form-button:disabled {
   background: grey;
   cursor: default;
}
