@model Blog.Model.LoginViewModel
<div>
    <h1>Login</h1>
    <form asp-action="Login" asp-route-returnUrl="@ViewData["returnUrl"]">
        <div asp-validation-summary="All" class="error"></div>
        <div class="text-group">
            <label for="username">Username</label>
            <input type="text" name="username" autocomplete="off" autofocus />
        </div>
        <div class="text-group">
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>
        <button type="submit">Login</button>
    </form>
</div>