@{ 
    Layout = "_Layout";
}

<article class="article">
    <header>
        <h2><a href="#">WPF and MVVC</a></h2>
        <h4 class="date">Sep 2018</h4>
    </header>
    <p>
        You know my name already. I was born in Iran. Istarted to code from 10 years ago. I have spent most of my
        time with Microsoft technologies but I enjoy javascript stack which I'm introduced to recently.
        You know my name already. I was born in Iran. Istarted to code from 10 years ago. I have spent most of my
        time with Microsoft technologies but I enjoy javascript stack which I'm introduced to recently.
    </p>
    <div class="tagset">
        <i class="fas fa-hashtag"></i>
        <div>WPF</div>
        <div>MVVM</div>
    </div>
</article>
