@model Post

<article class="post">
    <header>
        <h1>WPF and MVVM</h1>
        <h3>@Model.PublishDate.ToString("D")</h3>
        <div class="tagset">
            <i class="fas fa-hashtag"></i>
            <div>WPF</div>
            <div>MVVM</div>
        </div>
    </header>
    @Html.Raw(Model.Content)
</article>
