body{
    margin:0;
    font-family: 'Titillium Web';
}
nav {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 0 15px;
}

nav ul {
    margin: 0 0 0 auto;
    padding: 0
}

nav ul li {
    display: inline;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    color: #000;
}

a.icon{
    font-size: 1.7em;
}

header{
    text-align: center;
}

header>p{
    color: gray;
    font-size: 1em;
    margin: 0;
}

header>div{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0 5px;
    font-size: 1.7em;
}