body,
p,
h1,
h2,
h3,
h4,
ul {
  margin: 0;
}

.siteHeader {
  font-family: "Titillium Web";
  text-align: center;
}

.siteHeader > h3 {
  color: gray;
  font-size: 1em;
  font-weight: normal;
}

.siteHeader h1 {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0 5px;
  font-size: 1.4em;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0 15px;
}

.flat-list {
  padding: 0;
}

.flat-list li {
  display: inline;
}

.icon {
  margin-left: auto;
}
.icon li a {
  font-size: 1.7em;
}

.sep {
  background-color: #bbb;
  width: 1px;
  height: 1em;
  display: inline-block;
  margin: 0 3px;
}

a {
  font-size: 1.1em;
  text-decoration: none;
  color: #000;
}

body > section {
  margin-top: 20px;
  font-family: "Abel";
}

section > h2 {
  margin: 0 20px 5px 20px;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px dashed gray;
}

section > p {
  margin: 5px 20px;
  color: #333;
}

section > .skillset {
  margin-left: 20px;
}

section > .skillset > div {
  display: inline-block;
  background-color: #b4d5b6;
  border-radius: 3px;
  margin: 5px 3px 0 0;
  padding: 2px 4px;
  font-size: 1em;
}

section > .company {
  margin-left: 20px;
  margin-top: 0;
}

section > .company > header {
  text-align: left;
  margin-top: 10px;
}

section .companyTitle {
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
}

section .date {
  font-size: 1em;
  font-weight: normal;
  color: gray;
  display: inline-block;
}

footer {
  margin-top: 50px;
  padding: 20px 50px;
  font-family: "Abel";
  color: #aaa;
  text-align: center;
}

footer .icon-list li a {
  color: gray;
  font-size: 1.4em;
}

@media only screen and (min-width: 480px){
    .icon{
        margin-left:20px;
    }
    nav{
        justify-content: flex-end;
    }
}