

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.siteHeader {
    font-family: "Titillium Web";
    text-align: center;
}

    .siteHeader > h3 {
        color: gray;
        font-size: 1em;
        font-weight: normal;
    }

    .siteHeader h1 {
        display: inline-block;
        background-color: black;
        color: white;
        padding: 0 5px;
        font-size: 1.4em;
    }

nav {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 0 15px;
}

main {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 720px;
}

.flat-list {
    padding: 0;
}

    .flat-list li {
        display: inline;
    }

.icon {
    margin-left: auto;
}

    .icon li a {
        font-size: 1.7em;
    }

.sep {
    background-color: #bbb;
    width: 1px;
    height: 1em;
    display: inline-block;
    margin: 0 3px;
}

a {
    font-size: 1.1em;
    text-decoration: none;
    color: #000;
}

.article {
    margin-top: 20px;
    font-family: "Abel";
    font-size: 1.1em;
}

    .article > header {
        margin: 0 20px 5px 20px;
        border-bottom: 1px dashed gray;
    }

        .article > header > h2 {
            display: inline-block;
            font-size: 1.4em;
            font-weight: bold;
        }

            .article > header > h2 > a:hover {
                color: #63a46c;
            }

    .article > p {
        margin: 5px 20px;
        color: #333;
    }



.skillset {
    margin-left: 20px;
}

    .skillset > div {
        display: inline-block;
        background-color: #b4d5b6;
        border-radius: 3px;
        margin: 5px 3px 0 0;
        padding: 2px 4px;
    }

.aa {
    margin-left: 20px;
    color: gray;
}

.aa>i{
    font-size: .7em;
}

    .aa > div {
        display: inline-block;
        background-color: #eee;
        border-radius: 3px;
        margin: 5px 0px 0 0;
        padding: 2px 4px;
        font-size: .8em;
    }

.company {
    margin-left: 20px;
    margin-top: 0;
}

    .company > header {
        text-align: left;
        margin-top: 10px;
    }

.companyTitle {
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
}

.date {
    font-size: 1em;
    font-weight: normal;
    color: gray;
    display: inline-block;
}

    .date::before {
        content: "(";
    }

    .date::after {
        content: ")";
    }

footer {
    margin-top: 50px;
    padding: 20px 50px;
    font-family: "Abel";
    color: #aaa;
    text-align: center;
}

    footer .icon-list li a {
        color: gray;
        font-size: 1.4em;
    }

@media only screen and (min-width: 480px) {
    .icon {
        margin-left: 20px;
    }

    nav {
        justify-content: flex-end;
    }
}
